<app-header></app-header>
<br><br>

<div class="container">

  <div class="row ">

    <div class="col-md-8 px-2" id="calendario">
      <app-events-calendar></app-events-calendar>
    </div>


    <div class="col-md-4 px-2" id="contactos">
      <app-contact-list></app-contact-list>
    </div>
  </div>
  <br><br>

  <div class="row mt-4">

    <div class="col-md-7 px-2" id="todo">
      <app-todo-list></app-todo-list>
    </div>


    <div class="col-md-5 px-1" id="notas">
      <app-notes-list></app-notes-list>
    </div>
  </div>
  <br><br><br>
</div>